/* common shared style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  border-radius: 0.3125rem;
  background: #fd6e0a;
  border: none;
  padding: 15px 30px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 2.1875rem;

  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.875rem;
}
/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}
.nav-logo {
  color: #181818;
  font-size: 2.8125rem;
  font-weight: 800;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style-type: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .profile-pic {
  width: 500px;
}
.banner-greeting {
  font-size: 45px;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 5px;
  margin-bottom: 30px;
}
.banner-description {
  margin-bottom: 28px;
}
.banner-content {
  max-width: 500px;
}
/* main section styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about section styles */
.about {
  padding: 131px;
  border-radius: 0.625rem;
  background: #fff8f3;
  margin: 130px 0;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-title {
  margin-bottom: 0;
}
